$white: #ffffff;

$theme-colors: (
    "light":      #d8dede,
    "dark":       #232d33,
    "primary":    #002d4e,
    "secondary":  #b83d24,
    "info":       #f7ce3c,
    "accent1":    #03b5b5,
    "accent2":    #d6ecec,
    "accent3":    #fffbd7,
    "success":    #00c76f,
    "warning":    #eed300,
    "danger":     #ff211d,
);