// Custom
$atom-gray-box-shadow: 0 0 0 0.25rem #ced4da !default;
$proxima-nova: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$raleway: "raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$clavo: "clavo", Georgia, Times, "Times New Roman", serif;

$white: #ffffff;
$theme-colors: (
    "light":      #d8dede,
    "dark":       #232d33,
    "primary":    #002d4e,
    "secondary":  #b83d24,
    "info":       #f7ce3c,
    "accent1":    #03b5b5,
    "accent2":    #d6ecec,
    "accent3":    #fffbd7,
    "success":    #00c76f,
    "warning":    #eed300,
    "danger":     #ff211d,
);

// Bootstrap
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$orange: #c44e00 !default;
$blue: #0a58ca !default;
$primary: #002d4e;
$secondary: #b83d24;
$body-bg: $gray-100 !default;
$input-bg: $white !default;
$navbar-dark-color: $white !default;
$navbar-dark-hover-color: $primary !default;
$navbar-dark-toggler-border-color: $secondary !default;
$border-color: $gray-400 !default;
$border-width:1px !default;
$card-border-color: $border-color !default;
$accordion-border-color: $border-color !default;
$list-group-border-color: $border-color !default;
$list-group-active-border-color: $border-color !default;
$thumbnail-border-color: $border-color !default;
$dropdown-border-color: $border-color !default;
$pagination-border-color: $border-color !default;
$pagination-hover-border-color: $border-color !default;
$pagination-active-border-color: $border-color !default;
$pagination-disabled-border-color: $border-color !default;
$link-color: $blue !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;
$btn-white-space: nowrap !default;
$spacer: 1rem !default;
$dropdown-min-width: $spacer * 15 !default;
$tooltip-bg: $gray-900 !default;
$tooltip-opacity: 1 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 700 !default;
$table-th-font-weight: 700 !default;
$headings-font-weight: 400 !default;
$headings-margin-bottom: $spacer !default;
$h1-font-size: $spacer * 2 !default;
$h2-font-size: $spacer * 1.75 !default;
$h3-font-size: $spacer * 1.55 !default;
$h4-font-size: $spacer * 1.4 !default;
$list-group-action-color: $gray-900 !default;
$list-group-active-color: $gray-900 !default;
$list-group-active-bg: $gray-300 !default;
$list-group-hover-bg: $gray-200 !default;
$pagination-active-color: $gray-900 !default;
$pagination-active-bg: $gray-300 !default;
$pagination-focus-box-shadow: $atom-gray-box-shadow !default;
$dropdown-link-active-color: $gray-900 !default;
$dropdown-link-active-bg: $gray-300 !default;
$nav-pills-link-active-color: $gray-900 !default;
$nav-pills-link-active-bg: $gray-200 !default;
$accordion-button-active-color: $gray-900 !default;
$accordion-button-active-bg: $white !default;
$accordion-padding-x: $spacer !default;
$nav-tabs-link-active-bg: $white !default;
$nav-tabs-link-active-border-color: $border-color $border-color $white !default;
$accordion-button-focus-box-shadow: $atom-gray-box-shadow !default;
$accordion-bg: $white !default;
$table-bg: $white !default;
$table-striped-bg: $gray-200 !default;
$breadcrumb-divider: quote("»") !default;
$breadcrumb-divider-flipped: quote("«") !default;
$breadcrumb-divider-color: $primary !default;
$zindex-dropdown: 1035 !default;

// Carousel
$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-slideshow-width:          100%;
$carousel-slideshow-height:         500px;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg:  $black;
$carousel-dark-caption-color:        $black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);

//Card
$spacer: 1rem !default;
$card-spacer-y:                     $spacer;
$card-spacer-x:                     $spacer;
$card-title-spacer-y:               $spacer * .5;
$card-border-width:                 $border-width;
$card-border-radius:                null;
$card-border-color:                 rgba($black, .125);
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width);
$card-cap-padding-y:                $card-spacer-y * .5;
$card-cap-padding-x:                $card-spacer-x;
$card-cap-bg:                       rgba($black, .03);
$card-cap-color:                    null;
$card-height:                       null;
$card-color:                        null;
$card-bg:                           $white;
$card-img-overlay-padding:          $spacer;
$card-group-margin:                 $grid-gutter-width * .5;


// Font Awesome
$fa-font-path: "../../../../node_modules/@fortawesome/fontawesome-free/webfonts" !default;

// Accessible-Slick carousel
$slick-font-path: "../../../../node_modules/@accessible360/accessible-slick/slick/fonts/" !default;
$slick-loader-path: "../../../../node_modules/@accessible360/accessible-slick/slick/" !default;
$slick-dot-color: $white !default;
$slick-dot-color-active: $primary !default;
$slick-dot-size: $spacer !default;
